@media screen and (width <= 900px) {
    .image-and-info{
        flex-direction: column;
    }
    .image-container-product-info{
        align-self: center;
    }
}

@media screen and (width <= 575px){
    .productinfo-img-width{
        width: 100%;
        max-width: 200px;
    }
}


